
button{
    margin: 10px;
    display: block;
}

.hover{
    background-color: blue;
    color: white;
    padding: 5px;
}

.hover:hover{
    background-color: red;
    color: whitesmoke;
    padding: 10px;
    cursor: pointer;
}

.disabled{
    background-color: red;
    color: white;
    padding: 5px;
}

.disabled:disabled{
    background-color: lightgray;
    color: black;
    cursor: not-allowed;
}