
.absolute{
    background-color: black;
    color: white;
    font-size: 18px;
    width: 1400px;
}

.relative{
    background-color: black;
    color: white;
    font-size: 1rem;
    width: 100%;
}
